

.dashboard-widget {
  padding: 10px;

  .dashboard-widget_info {
    margin: 10px;

    .dashboard-widget__info-title {
      margin: 0;
      text-align: center;
      line-height: 30px;
      font-size: 22px;
    }
  }
  .dashboard-widget_content {

  }
}
